<!DOCTYPE html>
<html>
  <head>
    <title>Job Listing Portal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Job Listing Portal</p>
  </body>
</html>
